.headSpace{
	padding:20px 0 0 0;
	height:150px;
	width:100%;
	border-bottom:1px solid #FF9933;
}
.productImg{
	width:200px;
	height:100px;
	float:left;
	margin: 10px 0 0 50px;	
}
.productName{
	float:left;
	margin: 10px 0 0 100px;	
}

.headerText{
	float:left;
}
.text-g{
	color:#938a49;
	font-size:30px;
	margin:30px 15px 0 0;
	

}
.text-t{
	color:#339999;
	font-size:48px;
	font-weight:normal;
}
.word{
	color:#339999;
	margin:35px 0 10px 10px;
	background:url('../image/line.png') 5px 10px no-repeat;
	text-indent:40px;
	
}
.switchPart{
	float:left;
	margin-left:150px;
    position:relative;
    width:300px;
    height:200px;
}
.switchBtn{
	display:block;
	background:url('../image/video.png') no-repeat;
	width:80px;
	height:80px;
	cursor:pointer;	
	position:absolute;
	top:35px;
	left:35px;
}
.TraditionalBtn{
	width:40px;
	height:40px;
	border-radius:50%;
	background:#ABC261;
	position:absolute;
	top:5px;
	left:0px;
	cursor:pointer;
	text-align:center;
	line-height:40px;
	color:#ffffff;
	display:none;
}
.videoBtn{
	width:40px;
	height:40px;
	border-radius:50%;
	background:#ABC261;;
	position:absolute;
	top:5px;
	left:100px;
	cursor:pointer;
	text-align:center;
	line-height:40px;
	color:#ffffff;
	display:none;
}

.videoList{
	height:400px;
	width:700px;
	background:#ff9900;
	position:absolute;
	top:150px;
	left:-400px;
	z-index:33;
	display:none;
}

.videotitle{
	color:#ffffff;
	text-align:center;
	margin:20px 0;
}


.videoQuestion{
	float:left;
	margin:0 0 0 80px;
}
.videoQuestion li {
	list-style:none;
}
.videoQuestion li a{
	font-size:16px;
	color:#ffffff;
}

.contentPart{
	margin-top:20px;
	width:100%;
	height:480px;
	position:relative;
}
.videoPart{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	
	
}


.triditionPart{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	margin-left:50px;
	display:none;

}
.vjs-tech{
    width: 900px;
    height: 400px;
    display: block;
    font-size:0;
}
ul.sList{
    height:70px;
    width:400px;
    padding-left:1px;
    margin-top:10px;
}
ul.sList li{
    display:inline-block;
    float:left;
    width:90px;
    height:50px;
}
li img{
    width:80px;
    height:50px;
    cursor:pointer;
    border-radius:3px;
}


.productInfo{
	padding-top:20px;
}
.price{
	font-size:23px;
	color:#ff6a00;
}
.per{
	font-size:18px;
	color:#080808
}

.company{
	font-size:20px;
	color:#2192d9;
}
.Quantity{
	font-size:20px;
	color:#080808;
}
.numBtn{
	display:inline-block;
	width:30px;
	height:30px;
	background:url('../image/bg.png') no-repeat 0px 7px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}
.inputLen{
	width:40px;
	display:inline-block;
	height:25px;
}
.purchasePart{
	margin-top:20px;
}
.buy{
	font-size:15px;
	font-weight:bold;
	background:#2192D6;
	color:#ffffff;
	margin-right:10px;
}
.buy:hover,.add:hover{
	color:#ffffff;
}
.add{
	font-size:15px;
	font-weight:bold;
	background:#FF6C02;
	color:#ffffff;
}
.certification{
	color:#2192D6;
}
