body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:0px;
  width:1100px;
  height:97px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:97px;
}
#u1 {
  position:absolute;
  left:2px;
  top:40px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:129px;
  top:21px;
  width:72px;
  height:52px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:287px;
  top:34px;
  width:434px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:734px;
  top:34px;
  width:86px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:895px;
  top:34px;
  width:70px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:980px;
  top:36px;
  width:81px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:102px;
  top:96px;
  width:1100px;
  height:43px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:129px;
  top:107px;
  width:130px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1085px;
  top:34px;
  width:61px;
  height:27px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:275px;
  top:107px;
  width:90px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:391px;
  top:107px;
  width:90px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:501px;
  top:107px;
  width:90px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:607px;
  top:107px;
  width:90px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:711px;
  top:107px;
  width:90px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:102px;
  top:138px;
  width:1100px;
  height:1626px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1626px;
}
#u27 {
  position:absolute;
  left:2px;
  top:805px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:518px;
  top:175px;
  width:131px;
  height:39px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:116px;
  top:233px;
  width:1068px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:1051px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1068px;
  height:1px;
}
#u31 {
  position:absolute;
  left:287px;
  top:300px;
  width:234px;
  height:82px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:82px;
}
#u32 {
  position:absolute;
  left:2px;
  top:33px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:635px;
  top:190px;
  width:34px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:34px;
  height:1px;
}
#u34 {
  position:absolute;
  left:678px;
  top:189px;
  width:194px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:299px;
  top:327px;
  width:66px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:378px;
  top:338px;
  width:77px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
