body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:93px;
  top:29px;
  width:163px;
  height:421px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:421px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:133px;
  top:63px;
  width:99px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:133px;
  top:117px;
  width:99px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
