body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1127px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:63px;
  top:-19px;
  width:1102px;
  height:224px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:224px;
}
#u1 {
  position:absolute;
  left:2px;
  top:104px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:435px;
  top:47px;
  width:291px;
  height:49px;
  font-family:'Eurostile normal', 'Eurostile';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:49px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:533px;
  top:97px;
  width:225px;
  height:30px;
  font-family:'Yeseva One Regular', 'Yeseva One';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-38px;
  top:888px;
  width:1102px;
  height:1343px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:1343px;
}
#u7 {
  position:absolute;
  left:2px;
  top:664px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:92px;
  top:47px;
  width:193px;
  height:118px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:118px;
}
#u9 {
  position:absolute;
  left:2px;
  top:51px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:869px;
  top:-12px;
  width:181px;
  height:206px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:206px;
}
#u11 {
  position:absolute;
  left:2px;
  top:95px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:63px;
  top:-172px;
  width:1102px;
  height:166px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:166px;
}
#u13 {
  position:absolute;
  left:2px;
  top:75px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:63px;
  top:184px;
  width:1102px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1085px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1102px;
  height:1px;
}
#u15 {
  position:absolute;
  left:71px;
  top:747px;
  width:273px;
  height:33px;
  font-family:'Adobe Arabic Regular', 'Adobe Arabic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:33px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:782px;
  width:228px;
  height:23px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:805px;
  width:228px;
  height:23px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:23px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:101px;
  top:828px;
  width:228px;
  height:23px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:23px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:101px;
  top:851px;
  width:228px;
  height:23px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:23px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:101px;
  top:874px;
  width:228px;
  height:23px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:23px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:477px;
  top:782px;
  width:563px;
  height:219px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:219px;
}
#u28 {
  position:absolute;
  left:2px;
  top:102px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:71px;
  top:1605px;
  width:327px;
  height:33px;
  font-family:'Adobe Arabic Regular', 'Adobe Arabic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:101px;
  top:1651px;
  width:720px;
  height:75px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:75px;
}
#u32 {
  position:absolute;
  left:2px;
  top:30px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:71px;
  top:1752px;
  width:327px;
  height:33px;
  font-family:'Adobe Arabic Regular', 'Adobe Arabic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:111px;
  top:1794px;
  width:342px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:121px;
  top:1873px;
  width:672px;
  height:247px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:247px;
}
#u38 {
  position:absolute;
  left:2px;
  top:116px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:79px;
  top:1024px;
  width:273px;
  height:33px;
  font-family:'Adobe Arabic Regular', 'Adobe Arabic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:33px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:101px;
  top:1066px;
  width:400px;
  height:80px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:665px;
  top:1113px;
  width:432px;
  height:445px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:445px;
}
#u44 {
  position:absolute;
  left:2px;
  top:214px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:79px;
  top:1226px;
  width:568px;
  height:260px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:260px;
}
#u46 {
  position:absolute;
  left:2px;
  top:122px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:79px;
  top:237px;
  width:358px;
  height:238px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:238px;
}
#u48 {
  position:absolute;
  left:2px;
  top:111px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:63px;
  top:673px;
  width:1102px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:1085px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1102px;
  height:1px;
}
#u50 {
  position:absolute;
  left:79px;
  top:505px;
  width:89px;
  height:61px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:61px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:179px;
  top:505px;
  width:89px;
  height:61px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:61px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:279px;
  top:505px;
  width:87px;
  height:61px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:61px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:514px;
  top:223px;
  width:367px;
  height:23px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:23px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:514px;
  top:283px;
  width:185px;
  height:23px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:23px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:514px;
  top:306px;
  width:367px;
  height:23px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:23px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:515px;
  top:338px;
  width:175px;
  height:21px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:552px;
  top:342px;
  width:38px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u65 {
  position:absolute;
  left:516px;
  top:362px;
  width:175px;
  height:26px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:26px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:514px;
  top:389px;
  width:367px;
  height:23px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:23px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:514px;
  top:254px;
  width:185px;
  height:23px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:514px;
  top:414px;
  width:64px;
  height:23px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:607px;
  top:414px;
  width:38px;
  height:17px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:589px;
  top:417px;
  width:11px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:-6px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:11px;
  height:1px;
}
#u75 {
  position:absolute;
  left:652px;
  top:417px;
  width:15px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:15px;
  height:1px;
}
#u76 {
  position:absolute;
  left:654px;
  top:416px;
  width:10px;
  height:13px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u77 {
  position:absolute;
  left:514px;
  top:478px;
  width:150px;
  height:34px;
  font-size:18px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:710px;
  top:478px;
  width:165px;
  height:34px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:932px;
  top:226px;
  width:165px;
  height:137px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:137px;
}
#u82 {
  position:absolute;
  left:2px;
  top:60px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:984px;
  top:270px;
  width:100px;
  height:40px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1006px;
  top:303px;
  width:89px;
  height:23px;
  font-family:'Cambria Bold', 'Cambria';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:940px;
  top:428px;
  width:187px;
  height:121px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:121px;
}
#u88 {
  position:absolute;
  left:2px;
  top:52px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:960px;
  top:446px;
  width:43px;
  height:42px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:988px;
  top:496px;
  width:96px;
  height:22px;
  font-size:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
