body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:512px;
  top:132px;
  width:151px;
  height:35px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:576px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:576px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:353px;
  top:219px;
  width:74px;
  height:19px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:429px;
  top:216px;
  width:267px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:354px;
  top:253px;
  width:73px;
  height:21px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:429px;
  top:250px;
  width:267px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:366px;
  top:286px;
  width:61px;
  height:21px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:429px;
  top:283px;
  width:267px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:350px;
  top:318px;
  width:78px;
  height:21px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:430px;
  top:315px;
  width:199px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:376px;
  top:389px;
  width:51px;
  height:21px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:429px;
  top:386px;
  width:267px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:137px;
  top:153px;
  width:187px;
  height:35px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u20 {
  position:absolute;
  left:0px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:138px;
  top:184px;
  width:892px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:875px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:892px;
  height:1px;
}
#u22 {
  position:absolute;
  left:350px;
  top:351px;
  width:78px;
  height:21px;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:430px;
  top:348px;
  width:199px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:491px;
  top:82px;
  width:152px;
  height:29px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:430px;
  top:434px;
  width:274px;
  height:39px;
  font-size:18px;
  color:#1E1E1E;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:39px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:270px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:465px;
  top:483px;
  width:268px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:192px;
  top:36px;
  width:88px;
  height:46px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:15px;
  width:84px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:430px;
  top:484px;
  width:26px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
