body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:147px;
  top:120px;
  width:262px;
  height:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:99px;
  top:168px;
  width:1178px;
  height:471px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:471px;
}
#u3 {
  position:absolute;
  left:2px;
  top:228px;
  width:1174px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:959px;
  top:64px;
  width:106px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:99px;
  top:1088px;
  width:1228px;
  height:162px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:162px;
}
#u7 {
  position:absolute;
  left:2px;
  top:73px;
  width:1224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:185px;
  top:32px;
  width:133px;
  height:68px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:68px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:129px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1208px;
  top:737px;
  width:69px;
  height:69px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u11 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
